@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2
}

.bg-primary{
  background-color: rgb(85, 81, 227);
}
.bg-secondary{
  background-color: #2b2d77;
}
.mobile-nav{
  @apply bg-gray-800 fixed h-1/3 w-full left-0 top-10
}
.mobile-nav li{
  @apply border-b-2 text-center w-full h-full pt-3 
}

.project-desc{
  @apply absolute left-0 bottom-0 right-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100
}
.btn{
  @apply bg-primary px-5 py-2 font-bold rounded border-2 border-primary hover:border-white
}
html{
  scroll-behavior: smooth;
}
.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}